/*
958px grid system ~ Core CSS.
9 columns ~ margin: 40px

Based on the golden grid system - http://code.google.com/p/the-golden-grid/
by Vladimir Carrer

Created by the Grid System Generator - v1.00
Learn more ~ http://www.gridsystemgenerator.com/
*/

/* =Containers
--------------------------------------------------------------------------------*/
.main
{
	margin-left: auto;
	margin-right: auto;
	width: 958px;
}

	.main
{
box-shadow: 10px 10px 20px 5px  black;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.g102, .g204, .g306, .g408, .g510, .g612, .g714, .g816, .g918 {
	display: inline;
	float: left;
	margin-left: 40px;
	margin-bottom: -10px;
	margin-top: -40px; 
}

/* =Grid >> 9 Columns
--------------------------------------------------------------------------------*/
.g{width:62px;}
.g204{width:164px;}
.g306{width:266px; padding-top: 40px;}
.g408{width:368px;}
.g510{width:470px;}
.g612{width:572px; z-index: 100; position: relative; padding-top: 40px;}
.g714{width:674px;}
.g816{width:776px; }
.g918{width:878px;}


/* =Grid >> 9 Columns - no left margin
--------------------------------------------------------------------------------*/
.right-col{margin-left:142px;}
.ml204{margin-left:244px;}
.ml306{margin-left:346px;}
.ml408{margin-left:448px;}
.ml510{margin-left:550px;}
.ml612{margin-left:652px;}
.ml714{margin-left:754px;}
.ml816{margin-left:856px;}
.ml918{margin-left:958px;}


.inside{margin-left:0;}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content:' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

* {

margin: none;
padding: none;
font-family: 'Arial', 'sans-serif';
}


html {
background: #515880;
height: 100%;
}

body {
height: 100%;
margin: 0 auto;
}
a {
text-decoration: none;
}
a:hover {
/*color: #003A99;*/
color: #0B9dd4;
}
.page-wrap {
background: none repeat scroll 0 0 none;
margin: 0px auto;
width: 964px;
padding-top: 0px;
padding-bottom: 5px;
}

.page{
background: #ffffff;
}

.left-col{

}

.right-col {

}


h1 {
display: none;
}
#name a {
background-image: url('./images/cardioheading2.png');
display: block;
background-repeat: no-repeat;
width: 400px;
margin-top: -42px;
left: 10px;
top: -65px;
height: 100px;
position: relative;
z-index: 100;

}

#name span {
visibility: hidden;
}

.top {
background-image: url('./images/line.png');
background-repeat: repeat-x;
top: 105px;
margin-left: -20px;
margin-bottom: 20px;
position: relative;
z-index: 1;
}

.secondaryNav {
float: right;
}

.g918 {
padding-bottom: 50px;
margin-top: 5px;
}
#line {
background-image: url('./images/line.png');
background-repeat: repeat-x;
margin-top: 10px;
top: 0px;
height: 10px;
position: relative;
z-index: 100;
}
#navcontainer {
background: none;
top: -44px;
left: 500px;
position: absolute;
z-index: 100;

}
#navcontainer ul {
margin: 0;
list-style-type: none;
text-align: center;
padding: 10px;

}







#active{
background-image: url('./images/bluebox.png');
background-repeat: no-repeat;
height: 182px;
}

span {
font-family: 'Arial-BoldItalicMT','Arial','sans-serif'; 
font-size: 24px; 
font-style: italic; 
font-weight: bold; 
line-height: 34px;
}

p , table{
color: #493B3B;
    font-family: 'ArialMT','Arial','sans-serif';
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    opacity: 1;
    padding-bottom: 30px;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}

#example {
color: #493B3B;
    font-family: 'ArialMT','Arial','sans-serif';
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin: 0;
    opacity: 1;
    padding-bottom: 30px;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}
input {
/*border: 1px solid black;*/
z-index: 100;
}

pre {
text-indent: 30px
} 

#tabmenu { 
 
border-bottom: none; 
margin: 12px 0px 0px 0px; 
padding: 0px; 
z-index: 1; 
width: 400px;
font: normal 18px Arial Black, Arial, sans-serif; 
 

} 
#tabmenu li { 
display: inline; 
list-style-type: none; 


} 
#tabmenu a, a.active { 
color: #515880; 
background: #F2F4FF; 
font: bold 18px Trebuchet MS, Arial, sans-serif; 
/*border: 1px solid black; */
/*border: 1px solid #A59EBE; */
padding:  5px 35px 15px 40px; 
margin-left: 20px; 
text-decoration: none; 
cursor:hand; 
} 
#tabmenu a.active { 
background: #515880; 
color: white;
padding:  5px 35px 15px 40px; 
/*border: none;*/
} 
#tabmenu a:hover { 
color: #fff; 
background: #59608C; 
} 
#tabmenu a:visited { 

} 
#tabmenu a.active:hover { 
background: #59608C; 
color: #DEDECF; 
} 
#content {
font: 0.9em/1.3em verdana, sans-serif; 
text-align: justify; 
background: #ffffff; 
/*border: 1px solid black; */
border-bottom: none; 
z-index: 2; 
} 
#content a { 
text-decoration: none; 
color: white; 
} 
#content a:hover { 
background: #aaaaaa; 
}

label {
background: none;
float: right;
}
table.form_table {
margin-left: 110px;
}

table.form_table_no_errors {
margin-left: 0px;
}

fieldset {
font-weight: bold;
background: #F2F4FF;
margin-bottom: 50px;
border: none;
border: 1px solid #C2C6CC;
color: #5F6063;
}
legend {
background: #DDF4FF;
background: white;
border: 1px solid #C2C6CC;
color: #5F6063;
}
.error {
text-align: left;
color: red;
    font-family: 'ArialMT','Arial','sans-serif';
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
}

.buttons{
margin-left: 190px;
}


/*
 * Colour dictionary:
 *
 * Table control elements:   #719ba7
 * Header cells:             #66A9BD
 * Body header cells:        #91c5d4
 * Body content cells:       #d5eaf0
 * Body content cells (alt): #bcd9e1
 * Footer header:            #b0cc7f
 * Footer content:           #d7e1c5
 */


/*
 * Page setup styles
 */


/*
 * DataTables framework
 */
 
div.dataTables_wrapper, p.dataTables_wrapper {
	background-color: #515880;
	color: white;
	
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	width: 100%;
	clear: both;
}

table.pretty td,
table.pretty th {
	padding: 5px;

}

/* Header cells */
table.pretty thead th {
	text-align: center;
	background: #66a9bd;
}

/* Body cells */
table.pretty tbody th {
	text-align: left;
	background: #91c5d4;
}
	
table.pretty tbody td {
	text-align: center;
	background: #D6DDFF;
}
		
table.pretty tbody tr.odd td { 
	background: #F2F4FF;
}

/* Footer cells */	
table.pretty tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table.pretty tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #363A54;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #59618D;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}


/*
 * Sorting
 */
table.pretty thead th.sorting_asc {
	background: #363A54 url('images/sort_asc.png') no-repeat right center;
	color: white;
}

table.pretty thead th.sorting_desc {
	background: #363A54 url('images/sort_desc.png') no-repeat right center;
	color: white;
}

table.pretty thead th.sorting {
	background: #363A54 url('images/sort_both.png') no-repeat right center;
	color: white;
}
